{% extends "account/account_base.html" %}
{% load widget_tweaks %}

{% block account_content %}

<div class="container">
	<h1>Account Settings</h1>

	{% if successfully_changed %}
		<h3 style="color:green;">Your account settings have successfully changed.</h3>
	{% endif %}

	{% if warning == "No Change Detected" %}
		<h3 style="color:red;">{{ warning }}</h3>
	{% endif %}
</div>

<div class="container" style="margin-bottom:3%;">
	<div class="row">
		<form class="form" accept-charset="UTF-8" action="." method="post">{% csrf_token %}
			<div class="col-lg-6">
				<hr />
				<fieldset disabled>
					<h3>Basic Information</h3>
					<div class="form-group">
						<label for="fullname">Name</label>
						<input class="form-control" value=
						{{user.myuser.fullname}}>
					</div>
					<div class="form-group">
						<label for="stu_num">Student Number</label>
						<input class="form-control" value={{user.myuser.stu_num}}>
					</div>
				</fieldset>
				<hr />
				<fieldset disabled>
					<h3>Point and Level</h3>
					<div class="form-group">
						<label for="level">Level</label>
						<input class="form-control" value={{user.myuser.level}}>
					</div>
					<div class="form-group">
						<label for="point">Point</label>
						<input class="form-control" value={{user.myuser.point}}>
					</div>
				</fieldset>
				<hr />
				<fieldset disabled>
					<h3>Account Information</h3>
					<div class="form-group">
						<label for="username">ID</label>
						<input class="form-control" value={{user.username}}>
					</div>
				</fieldset>
				<fieldset>
					<div class="form-group">
						<label for="nickname">Nickname</label>
						{{ account_settings_my_user_form.nickname|attr:'class:form-control' }}
						{% if 'nickname' in error_dict %}
							<p style="color:red;">{{ warning }}</p>
						{% endif %}
					</div>
				</fieldset>
				<hr />
				<fieldset>
				<h3>Additional Information</h3>
					<div class="form-group">
						<label for="birthday">Birthday</label>
						<p style="color:gray;">(ex: 950101)</p>
						{% render_field account_settings_my_user_form.birthday class="form-control" maxlength="6" %}
						{% if 'birthday' in error_dict %}
							<p style="color:red;">{{ warning }}</p>
						{% endif %}
					</div>
					<div class="form-group">
						<label for="phone_num">Phone Number</label>
						<p style="color:gray;">(ex: 01012345678)</p>
						{% render_field account_settings_my_user_form.phone_num class="form-control" maxlength="11" %}
						{% if 'phone_num' in error_dict %}
							<p style="color:red;">{{ warning }}</p>
						{% endif %}
					</div>
					<div class="form-group">
						<label for="email">Email Address</label>
						{% render_field account_settings_user_form.email class="form-control" %}
						{% if 'email' in error_dict %}
							<p style="color:red;">{{ warning }}</p>
						{% endif %}
					</div>
				</fieldset>
				<hr />
				<fieldset>
				<h3 style="color:gray;">Enter your password to apply any change.</h3>
					<div class="form-group">
						<label for="password">Password</label>
						{% render_field check_password_form.password class="form-control" %}
						{% if 'password' in error_dict %}
							<p style="color:red;">{{ warning }}</p>
						{% endif %}
					</div>
				</fieldset>
				<hr />
				<button type="submit" class="btn btn-default" id="change_account_settings" name="change_account_settings">Change</button>
			</div>
		</form>
	</div>
</div>

{% endblock %}