{# FIRST STAT #}
					<div class="panel-body" style="padding:5%;">
						<div class="panel-body">
							<div class="pull-left" style="width:65%;">

								{# STAT NAME #}
								<input class="form-control" id="id_first_stat_name" maxlength="15" name="first_stat_name" type="text" value="{{ stat_list.0.stat_name }}" placeholder="STAT NAME"/>

							</div>
							<div class="pull-right" style="width:25%;">

								{# STAT VALUE #}
								<input class="form-control" id="id_first_stat_value" type="number" name="first_stat_value" min="0" max="10" value="{{ stat_list.0.stat_value }}" placeholder="STAT VALUE"/>
							
							</div>
						</div>

					</div>
					<hr />

					{# SECOND STAT #}
					<div class="panel-body" style="padding:5%;">
						<div class="panel-body">
							<div class="pull-left" style="width:65%;">

								{# STAT NAME #}
								<input class="form-control" id="id_second_stat_name" maxlength="15" name="second_stat_name" type="text" value="{{ stat_list.1.stat_name }}" placeholder="STAT NAME"/>

							</div>
							<div class="pull-right" style="width:25%;">

								{# STAT VALUE #}
								<input class="form-control" id="id_second_stat_value" type="number" name="second_stat_value" min="0" max="10" value="{{ stat_list.1.stat_value }}" placeholder="STAT VALUE"/>
							
							</div>
						</div>

					</div>
					<hr />

					{# THIRD STAT #}
					<div class="panel-body" style="padding:5%;">
						<div class="panel-body">
							<div class="pull-left" style="width:65%;">

								{# STAT NAME #}
								<input class="form-control" id="id_third_stat_name" maxlength="15" name="third_stat_name" type="text" value="{{ stat_list.2.stat_name }}" placeholder="STAT NAME"/>

							</div>
							<div class="pull-right" style="width:25%;">

								{# STAT VALUE #}
								<input class="form-control" id="id_third_stat_value" type="number" name="third_stat_value" min="0" max="10" value="{{ stat_list.2.stat_value }}" placeholder="STAT VALUE"/>
							
							</div>
						</div>

					</div>
					<hr />

					{# FOURTH STAT #}
					<div class="panel-body" style="padding:5%;">
						<div class="panel-body">
							<div class="pull-left" style="width:65%;">

								{# STAT NAME #}
								<input class="form-control" id="id_fourth_stat_name" maxlength="15" name="fourth_stat_name" type="text" value="{{ stat_list.3.stat_name }}" placeholder="STAT NAME"/>

							</div>
							<div class="pull-right" style="width:25%;">

								{# STAT VALUE #}
								<input class="form-control" id="id_fourth_stat_value" type="number" name="fourth_stat_value" min="0" max="10" value="{{ stat_list.3.stat_value }}" placeholder="STAT VALUE"/>
							
							</div>
						</div>

					</div>
					<hr />