@font-face {
  font-family: 'BitstreamVeraSansMono';
  font-style: normal;
  font-weight: 400;
  src: url(http://54.169.79.59/media/font/BitstreamVeraSansMono.eot);
  src: url(http://54.169.79.59/media/font/BitstreamVeraSansMono.woff) format('woff'),
       url(http://54.169.79.59/media/font/BitstreamVeraSansMono.ttf) format('truetype');
}