{% extends "wiki/wiki_base.html" %}
{% block title %}

{{page_name}}

{% endblock %}


{% block content %}
	<script type="text/javascript">
		function del_file(file_name,file_count){
			var check = confirm(file_name+" 파일을 삭제하시겠습니까?");
	      	  /* if(check == true) else false */
	      	if(check){ 
	      		location.href="/sle/wiki/{{page_name}}/delete/"+file_count;
	      	}
	      	else{
				
	      	}
		}
	</script>
	<div class='container' style="word-break: break-all;">
		<h1>{{page_name}}</h1>
		
		<div>
			{{pub_date}}

			{% if is_history == False %}
				<a href="/sle/wiki/{{page_name}}/edit/0/">Edit this page?</a>
				<br/>
				<a href="/sle/wiki/{{page_name}}/history/">#history</a>
			{% endif %}
		</div>
		<hr />
		<div class='container'>	
			{% for file_data in file_list %}
			<p>
				<a href='/sle/wiki/{{page_name}}/download/{{file_data.count}}/'>{{file_data.file_name}}</a>
				<a onclick="del_file('{{file_data.file_name}}',{{file_data.count}})" style="cursor:pointer">삭제</a>
				<!--<a href='/sle/wiki/{{page_name}}/delete/{{file_data.count}}/'>삭제</a>-->
			</p>
		{% endfor %}
		{% if is_history == False %}
	
			<form  class="form-inline" action="/sle/wiki/{{page_name}}/upload/" role="form" method="post" enctype="multipart/form-data">{% csrf_token %}
				<div class="form-group">
					<input type="file" name="file" id="id_file" />
				</div>
				<div class="form-group">
					<input type='submit' class='btn btn-success' value='파일 업로드'>
				</div>
			</form>
		
		{% endif %}
		</div>
		<hr />	
		<p>
			{% autoescape off %}
			{{context}}
			<hr />
			{{content}}
			{% endautoescape %}
		</p>
		<hr />
		
		<hr />
		
	</div>
{% endblock %}