{% extends "wiki/wiki_base.html" %}
{% block title %}

{{page_name}}

{% endblock %}
<!-- page를 보여주기 위한 템플릿 -->

{% block content %}
	<div class='container' style="word-break: break-all;">
		<h1>{{page_name}}</h1>
		
		<div>
			<!-- edit 및 history page로 이동하게 해주는 것들 -->
			{{pub_date}}

			{% if is_history == False %}
				<a href="/sle/wiki/edit/{{page_name}}/0/">Edit this page?</a>
				<br/>
				<a href="/sle/wiki/history/{{page_name}}/">#history</a>
			{% endif %}
		</div>
		<hr />
		<div class='container'>	
			<!-- file 목록 -->
			{% for file_data in file_list %}
			<p>
				<a href='/sle/wiki/download/{{page_name}}/{{file_data.count}}/'>{{file_data.file_name}}</a>
				<a onclick="del_file('{{file_data.file_name}}',{{file_data.count}},'{{page_name}}')" style="cursor:pointer">삭제</a>
				<!--<a href='/sle/wiki/{{page_name}}/delete/{{file_data.count}}/'>삭제</a>-->
			</p>
		{% endfor %}
		{% if is_history == False %}
		<!-- file upload를 위한 form -->
			<form id="file_upload" class="form-inline" action="/sle/wiki/upload/{{page_name}}/" role="form" method="post" enctype="multipart/form-data">{% csrf_token %}
				<div class="form-group">
					<input type="file" name="file" id="id_file" class="filestyle" data-buttontext="Find file" tabindex="-1" style="position: absolute; clip: rect(0px 0px 0px 0px);"><div class="bootstrap-filestyle input-group">
						<input type="text" id="upload_file_name"class="form-control " disabled=""> 
						<span class="group-span-filestyle input-group-btn" tabindex="0">
							<label for="id_file" class="btn btn-default ">
								<span class="glyphicon glyphicon-folder-open">
								</span> 
								Find file
							</label>
						</span>
					</div>
				</div>
				<div class="form-group">
					<input type='submit' class='btn btn-success' value='파일 업로드'>
				</div>
			</form>
		
		{% endif %}
		</div>
		<hr />	
		<p>
			{% autoescape off %}
			{{context}}
			<hr />
			{{content}}
			{% endautoescape %}
		</p>
		<hr />
		
	
		
	</div>
{% endblock %}