{% load staticfiles %}
<!-- wiki 기본 base -->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">

        <link href="http://fonts.googleapis.com/earlyaccess/nanumgothic.css" rel="stylesheet" />

        <!-- Bootstrap core CSS -->
        <link href="{% static "bootstrap/css/bootstrap.min.css" %}" rel="stylesheet">

        <!-- Custom styles for this template -->
       
        <title>wiki page | {% block title %}{% endblock %}</title>
        <script src="{% static "bootstrap/js/jquery.js" %}"></script>
        <script src="{% static "bootstrap/js/bootstrap.min.js" %}"></script>
        <script src="{% static "myjs/wiki.js" %}"></script>

       <!-- <script type="text/javascript" src="{% static "bootstrap-filestyle/bootstrap-filestyle.min.js" %}"> </script>-->
        <script src="{% static "jcop/js/jquery.Jcrop.min.js" %}"></script>
        <link href="{% static "jcop/css/jquery.Jcrop.css" %}" rel="stylesheet" />

        <link href="{% static "mycss/font.css" %}" rel="stylesheet" />
    </head>
    <body>
        {% if user.is_authenticated %}
        {% include "wiki/wiki_navbar.html" %}
            <br>
            <div class="container">
            
                    {% block content %}{% endblock %}    
               

            </div>
        {% else %}
           <script type="text/javascript">
                alert("로그인을 하시고 이용해주세요.");
                location.replace("/sle/"); 
            </script>

        {% endif %}
        <!-- Bootstrap core JavaScript
        ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->

       
        <!--script type='text/javascript'>

        $(document).ready(function () {
        $('ul.nav > li').click(function (e) {
        e.preventDefault();
        $('ul.nav > li').removeClass('active');
        $(this).addClass('active');
        });
        });

        </script-->

    </body>
</html>