<!-- like section -->

<button type="button" class="btn btn-default btn-lg" OnClick="javascript:likearticle()"
  {% if likeData.like == True %}
    style="color:#ffffff;background-color:#3b5998;"
  {% else %}
    style="background-color:#fffff;"
  {% endif %}>
    <span class="glyphicon glyphicon-star" aria-hidden="true">Like</span>
</button>

<script language="javascript">
	function likearticle(){
          location.href='/sle/freeboards/pushLike?writing_id={{writing_id}}&currentPage={{currentPage}}';
    }
</script>
