{% extends "base.html" %}

{% block content %}
    <table class="table" cellspacing=1 width=700 border=0>
        <tr>
            <td>Total writings: {{ totalCnt }}</td>
            <td><p align=right> Page:{{ currentPage }}</td>
        </tr>
    </table>


    <div class="panel-group" id="accordion">
        {% if boardList %}
            {% for boardRow in boardList %}
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordian-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse{{boardRow.id}}">
                            {{ boardRow.title }}<p aligh=right>{{boardRow.user}}, {{boardRow.pub_date}}</p></a>
                        </h4>
                    </div>
                    <div id="collapse{{boardRow.id}}" class="panel-collapse collapse">
                        <div class="panel-body">
                            {{ boardRow.contents }}<br>
                            <div align=right>
                            User: {{ boardRow.user }}<br>
                            Published Date: {{ boardRow.pub_date}}<br>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <p></p>
        {% endif %}
    </div>


    
    <table class="table" cellspacing=1 width=700 border=1 >
        <tr> <td>
            {% for page in totalPageList %}
                <a href="/sle/freeboards/listSpecificPageWork?currentPage={{page}}" >
                    [
                        {% if page == currentPage  %}
                            <b>
                        {% endif %}
                            {{ page }}
                        {% if page == currentPage %}
                            </b>
                        {% endif %}
                        
                    ]                
            {% endfor %}
        </td> </tr>
    </table>

    <table class="table" width=700>
        <tr>
            <td><input type=button value="Write"  OnClick="window.location='/sle/freeboards/writing_idWriteForm'">    </td>
            
            <td><form name=searchf method=post action="/sle/freeboards/searchWithSubject/">
                <p align=right>
                <input type=text name=searchStr size=50  maxlength=50>
                <input type=submit value="Search">
                </p>
            </td>
        </tr>
    </table>


{% endblock %}