{% extends "freeboards/freeboards_base.html" %}

{% block header %} 
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"> 
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
{% endblock %}

{% block title %} Dropdown {% endblock %}

{% block content %}


    <table class="table" cellspacing=1 width=700 border=0>
        <tr>
            <td>Total writings: {{ totalCnt }}</td>
            <td><p align=right> Page:{{ currentPage }}</td>
        </tr>
    </table>


    <div class="dropdown">
    {% if boardList %}
        {% for boardRow in boardList %}
        <div class="col-md-12">
            <button class="btn btn-default dropdown-toggle" type="button" id="menu{{ boardRow.id }}" data-toggle="dropdown" aria-label="Left Align" style="width:100%;"> {{ boardRow.title }}
            <span class="caret"></span></button>
            <ul class="dropdown-menu" role="menu" aria-labelledby="menu{{ boardRow.id }}">
              <li role="presentation"><a role="menuitem" tabindex="-1" href="#">{{ boardRow.contents }}</a></li>
            </ul>
        </div>
        {% endfor %}
    {% else %}
        <p></p>
    {% endif %}
    </div>
    
    
    <table class="table" cellspacing=1 width=700 border=1 >
        <tr> <td>
            {% for page in totalPageList %}
                <a href="/sle/freeboards/listSpecificPageWork?currentPage={{page}}" >
                    [
                        {% if page == currentPage  %}
                            <b>
                        {% endif %}
                            {{ page }}
                        {% if page == currentPage %}
                            </b>
                        {% endif %}
                        
                    ]                
            {% endfor %}
            </td> </tr>
    </table>

    <table class="table" width=700>
        <tr>
            <td><input type=button value="Write"  OnClick="window.location='/sle/freeboards/showWriteForm'">    </td>
            
            <td><form name=searchf method=post action="/sle/freeboards/searchWithSubject/">
                <p align=right>
                <input type=text name=searchStr size=50  maxlength=50>
                <input type=submit value="Search">
                </p>
            </td>
        </tr>
    </table>
{% endblock %}