{% extends "freeboards/freeboards_base.html" %}

{% block header %} 
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"> 
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
{% endblock %}

{% block title %} Dropdown {% endblock %}

{% block content %}


    <table class="table" cellspacing=1 width=700 border=0>
        <tr>
            <td>Total writings: {{ totalCnt }}</td>
            <td><p align=right> Page:{{ currentPage }}</td>
        </tr>
    </table>


    <div class="panel-group" id="accordion">
        {% if boardList %}
            {% for boardRow in boardList %}
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordian-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                            {{ boardRow.title }}</a>
                        </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse in">
                        <div class="panel-body">
                            {{ boardRow.contents }}
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <p></p>
        {% endif %}
    </div>
    
    <script type="text/javascript">

    var elements = document.getElementsByTagName("div");

    // 모든 영역 접기
    for (var i = 0; i < elements.length; i++) {
      if (elements[i].className == "panel panel-default") {
        elements[i].style.display="none";
      } else if (elements[i].className == "panel panel-default") {
        elements[i].onclick=switchDisplay;
      }
    }

    // 상태에 따라 접거나 펼치기
    function switchDisplay() {

      var parent = this.parentNode;
      var target = parent.getElementsByTagName("div")[1];

      if (target.style.display == "none") {
        target.style.display="block";
      } else {
        target.style.display="none";
      }
      return false;
    }
    </script>
    
    <table class="table" cellspacing=1 width=700 border=1 >
        <tr> <td>
            {% for page in totalPageList %}
                <a href="/sle/freeboards/listSpecificPageWork?currentPage={{page}}" >
                    [
                        {% if page == currentPage  %}
                            <b>
                        {% endif %}
                            {{ page }}
                        {% if page == currentPage %}
                            </b>
                        {% endif %}
                        
                    ]                
            {% endfor %}
            </td> </tr>
    </table>

    <table class="table" width=700>
        <tr>
            <td><input type=button value="Write"  OnClick="window.location='/sle/freeboards/showWriteForm'">    </td>
            
            <td><form name=searchf method=post action="/sle/freeboards/searchWithSubject/">
                <p align=right>
                <input type=text name=searchStr size=50  maxlength=50>
                <input type=submit value="Search">
                </p>
            </td>
        </tr>
    </table>


{% endblock %}