{% extends "base.html" %}

{% block content %}
    <title>{{ boardData.title }}</title>
  
  <script language="javascript">
      function boardlist(){
          var s = "{{ searchStr }}";

          if(s=="None")
              location.href = '/sle/freeboards/listSpecificPageWork?currentPage={{currentPage}}';
          else
              location.href = '/sle/freeboards/listSearchedSpecificPageWork?pageForView={{currentPage}}&searchStr={{searchStr}}';
      }

      function boardmodify(){
          location.href='/sle/freeboards/listSpecificPageUpdate?writing_id={{writing_id}}&currentPage={{currentPage}}&searchStr={{searchStr}}';
      }

      function boarddelete(){
          location.href='/sle/freeboards/deleteSpecificRow?writing_id={{writing_id}}&currentPage={{currentPage}}';
      }
     
  </script>
  



  <div class="writing_view">
    <h3>{{ boardData.title }}</h3>

    <table class="table" cellspacing = 0 cellpadding = 5 border = 1 width=500>
        <tr><td><b>Hits</b></td><td> {{ boardData.hits }} </td></tr>
        <tr><td><b>Category </b></td><td> {{ boardData.category }} </td></tr>
        <tr><td><b>Name </b></td><td> {{ boardData.user }} </td></tr>
        <tr><td><b>Title </b></td><td> {{ boardData.title }} </td></tr>
        <tr><td><b>Contents </b></td><td> {{ boardData.contents }} </td></tr>
    </table>
  </div>


    <div class="like-btn" align="center">
      {% include "freeboards/like.html" %}
    </div>

    <br>

    <table class="table" cellspacing = 0 cellpadding = 0 border = 0 width=500>
        <tr><td>
            <input type=button value="Edit" OnClick="javascript:boardmodify()">
            <input type=button value="List" OnClick="javascript:boardlist()">
            <input type=button value="Delete" OnClick="javascript:boarddelete()">
        </td></tr>
    </table>


  <div class="comment_table">
    {% include %}
  </div>
  
 {% endblock %}