{% extends "freeboards/freeboards_base.html" %}

{% block content %}

<table class="table" width=700 border=1 cellspacing=0 cellpadding=5>
  <form name="writeform" method=post action="/sle/freeboards/doWriteBoard/">
  	<tr><td><b>Name</b></td><td>{{name}}</td></tr>
  	<tr><td><b>Category</b></td><td><input type="text" name="category" size=50  maxlength=50></td></tr>
  	<tr><td><b>Title</b></td><td><input type="text" name="title" size=50  maxlength=50></td></tr>
  	<tr><td><b>Contents</b></td><td><textarea name="contents" cols=50 rows=10></textarea></td></tr>
  </form>
</table>

<table class"table" border=1 cellspacing=0 cellpadding=0>
<tr><td>
  <input type="submit" value="Write" OnClick="javascript:writeCheck();">
  <input type="submit" value="Cancle" OnClick="javascript:cancleCheck();">
</td></tr>
</table>


<script language="javascript">
      function writeCheck() {
          var form = document.writeform;

          if (!form.category.value){
              alert("카테고리를 적어주세요");
              form.title.focus();
              return;
          }
          if (!form.title.value){
              alert("제목을 적어주세요");
              form.title.focus();
              return;
          }
          if (!form.contents.value){
              alert("내용을 적어주세요");
              form.contents.focus();
              return;
          }
          form.submit();
      }

      function cancleCheck(){
        if (confirm("Cancle?") == true) {
            location.href="/sle/freeboards/"
        } else {
            return;
        }
      }
</script>


{% endblock %}